repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.2.2
    hooks:
        - id: biome-format
